<ul id="comment-list">
  <% @comments.each do |comment| %>
  <li class="<%= "not_approved" if not comment.approved? %>">
    <div class="avatar"><%= image_tag(gravatar_url(comment.email)) %></div>
    <div class="meta"><span>
        written <%= time_ago_in_words comment.created_at %> ago by <%= h comment.name %>
        <% if is_admin? %>
          <% if not comment.approved? %>
          <%= link_to 'approve!', approve_plugin_comment_path(comment.plugin, comment), :method=>:put %> &middot;
          <% end %>
          <%= link_to 'delete', 'test', :method => :delete %>
        <% end %>
    </span></div>
    <div class="content"><%= markdown comment.content %></div>
  </li>
  <% end %>
</ul>
