
<ul id="plugin-index">
<% @plugins.each do |plugin| %>
  <li class="plugin">
    <div class="plugin-header">
      <%= image_tag('rss.png', :width => '10', :height => '10') %> 
      <h2><%= link_to(plugin.name, plugin_path(plugin)) %></h2>
      <span class="author">by <%= link_to(plugin.user.username, user_path(plugin.user)) %></span>
      <div class="last_updated">Last updated <%= time_ago_in_words plugin.updated_at %> ago</div>
    </div>
    <div class="summary"><%= markdown plugin.summary %></div>
    <div class="meta">
      <ul class="middot_list">
        <li><%= link_to(pluralize(plugin.comments.length, "comment"), plugin_path(plugin), :anchor => "comments") %></li>
        <li><%= '%0.1f' % plugin.ratings_average %>/5.0 rating</li>
        <li><%= pluralize(plugin.versions.length, "version") %></li>
        <li><%= format_date plugin.created_at %></li>
      </ul>
    </div>
  </li>

<% end %>
</ul>


<%= 
link_to 'New Plugin', new_plugin_path %>
<br /> 
<div id="feed">
  Get our feed for updates: <%= link_to(image_tag('rss.png', :width => '10', :height => '10'), plugins_path(:format => 'rss') ) %> 
</div>
<link rel="alternate" type="application/rss+xml" title="RSS" href="plugins.rss" />
