<div class="plugin-show">
  <div class="plugin">
    <div class="plugin-header">
      <h2><%= link_to(@plugin.name, plugin_path(@plugin)) %></h2>
      <span class="author">by <%= link_to(@plugin.user.username, user_path(@plugin.user)) %></span>
      <div class="last_updated">Last updated <%= time_ago_in_words @plugin.updated_at %> ago</div>
    </div>
    <div class="summary"><%= @plugin.summary %></div>

    <div class="description">
      <h3>Description</h3>
      
      <%= @plugin.description %>
    </div> 

    <div class="installation">
      <h3>Installation</h3>
      <div class="default-instructions"> To install a plugin, just download 
        the plugin file into your rbot plugin directory (usually something 
        like <code>/home/rbot/.rbot/plugins</code>) and restart (or rescan) 
        your bot.</div>
      <span><%= @plugin.installation %></span>
    </div>
  </div> <!-- .plugin -->
</div> <!-- #plugin-show -->

<h3>Versions</h3>

<%= render 'version_list' %>

<% if @plugin.user == current_user %>
    <%= link_to 'New Version', new_plugin_version_path(@plugin) %>
<% end %>

<h3>Comments</h3>

<%= render 'comment_list' %>

<h4>New Comment</h4>

<%= render 'comment_form' %>

<%= link_to 'Edit', edit_plugin_path(@plugin) %> |
<%= link_to 'Back', plugins_path %>
