<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @plugin.name %>
</p>

<p>
  <b>User:</b>
  <%= @plugin.user %>
</p>

<p>
  <b>Repository:</b>
  <%= @plugin.repository %>
</p>

<p>
  <b>Summary:</b>
  <%= @plugin.summary %>
</p>

<p>
  <b>Description:</b>
  <%= @plugin.description %>
</p>

<p>
  <b>Installation:</b>
  <%= @plugin.installation %>
</p>


<%= link_to 'Edit', edit_plugin_path(@plugin) %> |
<%= link_to 'Back', plugins_path %>
