<p>
  <b>Name:</b>
  <%= @plugin.name %>
</p>

<p>
  <b>User:</b>
  <%= @plugin.user.username %>
</p>

<p>
  <b>Repository:</b>
  <%= @plugin.repository %>
</p>

<p>
  <b>Summary:</b>
  <%= @plugin.summary %>
</p>

<p>
  <b>Description:</b>
  <%= @plugin.description %>
</p>

<p>
  <b>Installation:</b>
  <%= @plugin.installation %>
</p>

<h3>Versions</h3>

<%= render 'version_list' %>

<% if @plugin.user == current_user %>
    <%= link_to 'New Version', new_plugin_version_path(@plugin) %>
<% end %>

<h3>Comments</h3>

<%= render 'comment_list' %>

<h4>New Comment</h4>

<%= render 'comment_form' %>

<%= link_to 'Edit', edit_plugin_path(@plugin) %> |
<%= link_to 'Back', plugins_path %>
