<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
#follower settings
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p><%= f.label :fullname %>
  <%= f.text_field :fullname %></p>

  <p><%= f.label :homepage %>
  <%= f.text_field :homepage %></p>

   <p><%= f.label :opt_in %> (Do you want to get notified via email?)
   <%= f.check_box :opt_in, :checked => @user.opt_in %></p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
