<%= form_for(@version_file) do |f| %>
  <% if @version_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@version_file.errors.count, "error") %> prohibited this version_file from being saved:</h2>

      <ul>
      <% @version_file.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :plugin_version %><br />
    <%= f.text_field :plugin_version %>
  </div>
  <div class="field">
    <%= f.label :file %><br />
    <%= f.text_field :file %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
