<h1>Listing version_files</h1>

<table>
  <tr>
    <th>Plugin version</th>
    <th>File</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @version_files.each do |version_file| %>
  <tr>
    <td><%= version_file.plugin_version %></td>
    <td><%= version_file.file %></td>
    <td><%= link_to 'Show', version_file %></td>
    <td><%= link_to 'Edit', edit_version_file_path(version_file) %></td>
    <td><%= link_to 'Destroy', version_file, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Version file', new_version_file_path %>
