<p id="notice"><%= notice %></p>

<p>
  <b>Plugin version:</b>
  <%= @version_file.plugin_version %>
</p>

<p>
  <b>File:</b>
  <%= @version_file.file %>
</p>


<%= link_to 'Edit', edit_version_file_path(@version_file) %> |
<%= link_to 'Back', version_files_path %>
